In [21]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# bike trip files
march_path = "resources/citibike_march_2019.csv"
april_path = "resources/citibike_april_2019.csv"
may_path = "resources/citibike_may_2019.csv"
june_path = "resources/citibike_june_2019.csv"

# Read the csv files
marchData = pd.read_csv(march_path)
aprilData = pd.read_csv(april_path)
mayData = pd.read_csv(may_path)
juneData = pd.read_csv(june_path)

# output variable
marchapril_file = "~/desktop/creativity/data_analytics/git/bike_sharing_program/resources/marchapril.csv"
mayjune_file = "~/desktop/creativity/data_analytics/git/bike_sharing_program/resources/mayjune.csv"
complete_file = "~/desktop/creativity/data_analytics/git/bike_sharing_program/data/bike_share_data.csv"


# Combine march and april into a single dataset
marchAprilData = pd.merge(marchData, aprilData, how="right")

# Display the data table for preview
marchAprilData.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,107,2019-04-01 07:48:04.7540,2019-04-01 07:49:52.3590,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29536,Subscriber,1966,1
1,493,2019-04-01 12:41:09.6540,2019-04-01 12:49:23.0290,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,26191,Customer,1990,1
2,512,2019-04-01 14:27:07.9400,2019-04-01 14:35:40.9370,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29302,Subscriber,1987,2
3,196,2019-04-01 15:07:38.1510,2019-04-01 15:10:54.6260,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26220,Subscriber,1989,1
4,463,2019-04-01 16:19:24.6940,2019-04-01 16:27:08.6450,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,26228,Subscriber,1995,1

In [23]:
# Create dataframe
marchAprilData_df = pd.DataFrame(marchAprilData)
marchAprilData_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,107,2019-04-01 07:48:04.7540,2019-04-01 07:49:52.3590,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29536,Subscriber,1966,1
1,493,2019-04-01 12:41:09.6540,2019-04-01 12:49:23.0290,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,26191,Customer,1990,1
2,512,2019-04-01 14:27:07.9400,2019-04-01 14:35:40.9370,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29302,Subscriber,1987,2
3,196,2019-04-01 15:07:38.1510,2019-04-01 15:10:54.6260,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26220,Subscriber,1989,1
4,463,2019-04-01 16:19:24.6940,2019-04-01 16:27:08.6450,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,26228,Subscriber,1995,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33051,335,2019-04-27 20:12:13.3830,2019-04-27 20:17:48.5690,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26303,Subscriber,1983,2
33052,679,2019-04-28 13:23:04.7290,2019-04-28 13:34:23.7550,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730897,-74.063913,29294,Subscriber,1988,1
33053,793,2019-04-29 13:46:39.2540,2019-04-29 13:59:52.2890,3694,Jackson Square,40.711130,-74.078900,3640,Journal Square,40.733670,-74.062500,26275,Subscriber,1991,2
33054,706,2019-04-30 10:47:41.6730,2019-04-30 10:59:28.5910,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730897,-74.063913,29666,Subscriber,1991,2
33055,721,2019-04-30 19:30:56.2830,2019-04-30 19:42:57.6050,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730897,-74.063913,29609,Subscriber,1988,1

In [24]:
marchAprilData_df.count()

tripduration               33056
starttime                  33056
stoptime                   33056
start station id           33056
start station name         33056
start station latitude     33056
start station longitude    33056
end station id             33056
end station name           33056
end station latitude       33056
end station longitude      33056
bikeid                     33056
usertype                   33056
birth year                 33056
gender                     33056
dtype: int64

In [31]:
# Output marchapril file
marchAprilData_df.to_csv(marchapril_file)
marchAprilData_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,107,2019-04-01 07:48:04.7540,2019-04-01 07:49:52.3590,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29536,Subscriber,1966,1
1,493,2019-04-01 12:41:09.6540,2019-04-01 12:49:23.0290,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,26191,Customer,1990,1
2,512,2019-04-01 14:27:07.9400,2019-04-01 14:35:40.9370,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29302,Subscriber,1987,2
3,196,2019-04-01 15:07:38.1510,2019-04-01 15:10:54.6260,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26220,Subscriber,1989,1
4,463,2019-04-01 16:19:24.6940,2019-04-01 16:27:08.6450,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,26228,Subscriber,1995,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33051,335,2019-04-27 20:12:13.3830,2019-04-27 20:17:48.5690,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26303,Subscriber,1983,2
33052,679,2019-04-28 13:23:04.7290,2019-04-28 13:34:23.7550,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730897,-74.063913,29294,Subscriber,1988,1
33053,793,2019-04-29 13:46:39.2540,2019-04-29 13:59:52.2890,3694,Jackson Square,40.711130,-74.078900,3640,Journal Square,40.733670,-74.062500,26275,Subscriber,1991,2
33054,706,2019-04-30 10:47:41.6730,2019-04-30 10:59:28.5910,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730897,-74.063913,29666,Subscriber,1991,2
33055,721,2019-04-30 19:30:56.2830,2019-04-30 19:42:57.6050,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730897,-74.063913,29609,Subscriber,1988,1

In [ ]:
# Create new dataframe
weatherData = {
    "City": name,
    "Country": country,
    "Latitude": lat,
    "Longitude": lon,
    "Temperature (F)": temp,
    "Humidity (%)": humid,
    "Windspeed (mph)": wind,
    "Cloudiness (%)": cloud,
}
weatherData_df=pd.DataFrame(weatherData)

# Creating CSV in designated folder, and display dataframe
weatherData_df.to_csv(output_data_file)
weatherData_df

In [25]:
# Combine may and june into a single dataset
mayJuneData = pd.merge(mayData, juneData, how="right")

# Display the data table for a preview
mayJuneData.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,316,2019-06-01 00:05:55.7210,2019-06-01 00:11:11.9940,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,1
1,280,2019-06-01 00:08:09.0920,2019-06-01 00:12:50.0730,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,1
2,2162,2019-06-01 00:13:11.8800,2019-06-01 00:49:14.3640,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,Customer,1969,0
3,2184,2019-06-01 00:13:30.1110,2019-06-01 00:49:54.2250,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,0
4,139,2019-06-01 00:13:31.8520,2019-06-01 00:15:51.7880,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,1

In [26]:
# Create dataframe
mayJuneData_df = pd.DataFrame(mayJuneData)
mayJuneData_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,316,2019-06-01 00:05:55.7210,2019-06-01 00:11:11.9940,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,1
1,280,2019-06-01 00:08:09.0920,2019-06-01 00:12:50.0730,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,1
2,2162,2019-06-01 00:13:11.8800,2019-06-01 00:49:14.3640,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,Customer,1969,0
3,2184,2019-06-01 00:13:30.1110,2019-06-01 00:49:54.2250,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,0
4,139,2019-06-01 00:13:31.8520,2019-06-01 00:15:51.7880,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39425,639,2019-06-30 23:38:29.5450,2019-06-30 23:49:09.2110,3677,Glenwood Ave,40.727551,-74.071061,3191,Union St,40.718211,-74.083639,29197,Customer,1986,1
39426,643,2019-06-30 23:38:34.9100,2019-06-30 23:49:17.9690,3677,Glenwood Ave,40.727551,-74.071061,3191,Union St,40.718211,-74.083639,26262,Customer,1990,2
39427,418,2019-06-30 23:42:30.9400,2019-06-30 23:49:29.5360,3679,Bergen Ave,40.722104,-74.071455,3191,Union St,40.718211,-74.083639,29241,Subscriber,1979,1
39428,2529,2019-06-30 23:46:17.5700,2019-07-01 00:28:27.1710,3185,City Hall,40.717733,-74.043845,3213,Van Vorst Park,40.718489,-74.047727,26254,Subscriber,1982,1
39429,831,2019-06-30 23:49:01.6830,2019-07-01 00:02:53.1150,3210,Pershing Field,40.742677,-74.051789,3186,Grove St PATH,40.719586,-74.043117,29551,Subscriber,1988,1

In [27]:
mayJuneData_df.count()

tripduration               39430
starttime                  39430
stoptime                   39430
start station id           39430
start station name         39430
start station latitude     39430
start station longitude    39430
end station id             39430
end station name           39430
end station latitude       39430
end station longitude      39430
bikeid                     39430
usertype                   39430
birth year                 39430
gender                     39430
dtype: int64

In [32]:
# Output mayjune data file
mayJuneData_df.to_csv(mayjune_file)
mayJuneData_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,316,2019-06-01 00:05:55.7210,2019-06-01 00:11:11.9940,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,1
1,280,2019-06-01 00:08:09.0920,2019-06-01 00:12:50.0730,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,1
2,2162,2019-06-01 00:13:11.8800,2019-06-01 00:49:14.3640,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,Customer,1969,0
3,2184,2019-06-01 00:13:30.1110,2019-06-01 00:49:54.2250,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,0
4,139,2019-06-01 00:13:31.8520,2019-06-01 00:15:51.7880,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39425,639,2019-06-30 23:38:29.5450,2019-06-30 23:49:09.2110,3677,Glenwood Ave,40.727551,-74.071061,3191,Union St,40.718211,-74.083639,29197,Customer,1986,1
39426,643,2019-06-30 23:38:34.9100,2019-06-30 23:49:17.9690,3677,Glenwood Ave,40.727551,-74.071061,3191,Union St,40.718211,-74.083639,26262,Customer,1990,2
39427,418,2019-06-30 23:42:30.9400,2019-06-30 23:49:29.5360,3679,Bergen Ave,40.722104,-74.071455,3191,Union St,40.718211,-74.083639,29241,Subscriber,1979,1
39428,2529,2019-06-30 23:46:17.5700,2019-07-01 00:28:27.1710,3185,City Hall,40.717733,-74.043845,3213,Van Vorst Park,40.718489,-74.047727,26254,Subscriber,1982,1
39429,831,2019-06-30 23:49:01.6830,2019-07-01 00:02:53.1150,3210,Pershing Field,40.742677,-74.051789,3186,Grove St PATH,40.719586,-74.043117,29551,Subscriber,1988,1

In [33]:
marchApril_path = "resources/marchapril.csv"
mayJune_path = "resources/mayjune.csv"

marchAprilFile = pd.read_csv(marchApril_path)
mayJuneFile = pd.read_csv(mayJune_path)

completeData = pd.merge(marchAprilFile, mayJuneFile, how="right")
completeData

,Unnamed: 0,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,0,316,2019-06-01 00:05:55.7210,2019-06-01 00:11:11.9940,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,1
1,1,280,2019-06-01 00:08:09.0920,2019-06-01 00:12:50.0730,3185,City Hall,40.717732,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,1
2,2,2162,2019-06-01 00:13:11.8800,2019-06-01 00:49:14.3640,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,Customer,1969,0
3,3,2184,2019-06-01 00:13:30.1110,2019-06-01 00:49:54.2250,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,0
4,4,139,2019-06-01 00:13:31.8520,2019-06-01 00:15:51.7880,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39425,39425,639,2019-06-30 23:38:29.5450,2019-06-30 23:49:09.2110,3677,Glenwood Ave,40.727551,-74.071061,3191,Union St,40.718211,-74.083639,29197,Customer,1986,1
39426,39426,643,2019-06-30 23:38:34.9100,2019-06-30 23:49:17.9690,3677,Glenwood Ave,40.727551,-74.071061,3191,Union St,40.718211,-74.083639,26262,Customer,1990,2
39427,39427,418,2019-06-30 23:42:30.9400,2019-06-30 23:49:29.5360,3679,Bergen Ave,40.722104,-74.071455,3191,Union St,40.718211,-74.083639,29241,Subscriber,1979,1
39428,39428,2529,2019-06-30 23:46:17.5700,2019-07-01 00:28:27.1710,3185,City Hall,40.717732,-74.043845,3213,Van Vorst Park,40.718489,-74.047727,26254,Subscriber,1982,1
39429,39429,831,2019-06-30 23:49:01.6830,2019-07-01 00:02:53.1150,3210,Pershing Field,40.742677,-74.051789,3186,Grove St PATH,40.719586,-74.043117,29551,Subscriber,1988,1

In [28]:
# Combine all data
completeData_df = pd.merge(mayJuneData_df, marchAprilData_df, how="right")

# Display for preview
completeData_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,107,2019-04-01 07:48:04.7540,2019-04-01 07:49:52.3590,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29536,Subscriber,1966,1
1,493,2019-04-01 12:41:09.6540,2019-04-01 12:49:23.0290,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,26191,Customer,1990,1
2,512,2019-04-01 14:27:07.9400,2019-04-01 14:35:40.9370,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29302,Subscriber,1987,2
3,196,2019-04-01 15:07:38.1510,2019-04-01 15:10:54.6260,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26220,Subscriber,1989,1
4,463,2019-04-01 16:19:24.6940,2019-04-01 16:27:08.6450,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,26228,Subscriber,1995,1

In [29]:
completeData_df.count()

tripduration               33056
starttime                  33056
stoptime                   33056
start station id           33056
start station name         33056
start station latitude     33056
start station longitude    33056
end station id             33056
end station name           33056
end station latitude       33056
end station longitude      33056
bikeid                     33056
usertype                   33056
birth year                 33056
gender                     33056
dtype: int64